.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: -1px  0   0  #272726;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  background-color: transparent;
  padding: 0;
  width: 80%;
  border: none;
  max-width: 450px;
  min-height: 300px;
  z-index: 20;
  border-radius: .5rem;
}
