:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.persons 
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1rem;
  overflow: auto;
  max-height: 35rem;
}
main 
{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
hr 
{
  width: 100%;
}
h1 
{
  font-size: 2rem;
  font-weight: 700;
  
  margin: 0;
}
.persons h3 
{
  text-transform: capitalize;
  overflow: auto;
}
.card 
{
  font-size: 1.05rem;
  display: flex;
  flex-direction: column;
  padding: .9rem;
  border-radius: 0.5rem;
  background-color: #141f4074;
  margin-right: 0.3rem;
  width: 21rem;
  max-height: 14rem;
}
.card footer 
{
  margin-top: auto;
}
.card ul 
{
  max-height: 70%;
  overflow: auto;
  font-weight: 600;
  font-size: 1.1rem;
}
.mod{
  background-color:#00000000 ;
  width: 2.4rem;
}
.card * 
{
  margin: 0;
}
.header 
{
  /* display: grid;
  grid-template-columns: 1fr auto;
  align-items: end; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-left: 1rem;
}
/* h1{
  text-align: center;
} */
header button{
  margin-left: 1rem;
}
.empty-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.btn-add  {
  font-size: 1rem;
  padding: 0.3rem;
  margin: .2rem auto;
}
.tax {
  width: fit-content;
  margin-left: 0.5rem;
  font-size: medium;
}
@media screen and (max-width: 30rem) {
  #btnminus{
    min-width: 2.7rem;
   }
  .card,
  .card:hover {
    box-shadow: none;
  }
  .persons {
    max-height: 27rem;
  }
  .Confirm p{
    font-size:19px;
    font-weight:400;
    padding-right: .3rem;
  }
  .artcl input{
    min-height: 5vh;
   }
   .add-new .add {
    min-height: 6vh;
  }
  .add-new input {
    min-height: 5.5vh;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* {
  box-sizing: border-box;
  
}

input[type="number"] {
  -moz-appearance: textfield;
}
.add-new {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 1rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 0 0.5rem 1rem rgba(10, 132, 245, 0.3);
  background-image: url("/src/assets/Desktop - 11.png");
}
.form-group {
  display: grid;
  gap: 0.5rem;
}
.add-new .add {
  margin: 1rem auto;
  justify-content: center;
  font-size: 20px;
  color: #201f1f;
  background-color: rgba(0, 213, 255, 0.931);
  width: 100%;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  height: 4.5vh;
  border: 2px solid rgb(3, 195, 238);
  border-radius: 0.5rem;
  min-height: 4.5vh;
  cursor: pointer;
}
.add:active{
  transform: translateY(1px);
  box-shadow: 2px 5px 10px rgba(7, 244, 252, 0.355); 
}
.add-new input {
  border: 2px solid rgb(3, 195, 238);
  border-radius: 0.5rem;
  box-shadow: 0rem 0.4rem 1rem rgba(10, 132, 245, 0.3);
  padding-left: 0.5rem;
  background-color: rgba(0, 0, 0, 0.703);
  height: 4.5vh;
  font-size: 18px;
  font-weight: 500;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #1716168f;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: #e6e5e5e8;
  border-radius: 3px;
}
body {
  display: grid;
  justify-content: space-evenly;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("./assets/ya rb.jpg");
  padding-bottom: 1.2rem;
}
select {
  background-color: black;
  border: 2px solid rgb(3, 195, 238);
  border-radius: 4px;
  padding-left: 0.5rem;
  background-color: rgba(0, 0, 0, 0.742);
  font-weight: 500;
  height: 4.2vh;
  font-size: 17px;
  cursor: pointer;
}
.add-new select:focus {
  border-color: rgb(0, 213, 255);
  box-shadow: 0 0.5rem 1rem rgba(10, 132, 245, 0.3);
}

input:hover,
select:hover {
  border-color: rgb(0, 213, 255);
  box-shadow: 0 0.5rem 1rem rgba(10, 132, 245, 0.3);
}
.add-new option {
  background-color: rgba(0, 0, 0, 0.912);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
}
.btn-add{
  background-color: rgba(0, 213, 255, 0.944);
  border-color: rgb(0, 213, 255);
  font-size: 18px;
  color: black;
  box-shadow: 0 0.5rem 1rem rgba(10, 132, 245, 0.3);
  border-radius: 5px;
  cursor: pointer;
  font-weight:500;
  text-align: center;
  width: -webkit-fill-available;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


.btn-add  {
  transform: translateY(-2px);
}
.btn-add:hover {
  transform: translateY(-1px);

}
.btn-add:active{
  transform: translateY(0px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.card:hover{
  background-color: #0B1426;
}
.tax {
  background-color: #313131;
  border: 2px solid cadetblue;
  border-radius: 3px;
  height: 3.5vh;
  width: 15rem;
  border-color: rgb(0, 213, 255);
}
@media (max-width: 20rem) {
  body{
    background-position: fixed;
  }
  .card,
  .card:hover {
    box-shadow: none;
  }
  .artcl input{
    min-height: 5vh;
   }
   .add-new .add {
    min-height: 6vh;
  }
  .add-new input {
    min-height: 5.5vh;
  }
}
.order-edit{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.order-edit button{
  display: flex;
  justify-content: center;
  margin: .2rem;
  width: 2.7rem;
  font-weight: 200;
  font-size: 1.7rem;
  border: 2px solid rgb(0, 213, 255);
  box-shadow: 0 0.5rem 1rem rgba(10, 132, 245, 0.2);
  background-color: rgba(0, 0, 0, 0.959);
  color: rgb(0, 213, 255);
  border-radius: 3px;
  cursor: pointer;
}
.order-edit button:active{
  background-color:rgb(0, 213, 255) ;
  color: black;
}
ul{
  overflow: auto;
  margin-top: auto;
  max-height: 12rem;
  padding: .2rem;
}

ul p {
  font-size: 22px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
fieldset{
  border: 2px solid;
  border-color: rgb(0, 213, 255);
  border-radius: 4px;
}
.btn-add:focus{
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.artcl  label,span{
  font-size: 20px;
  font-weight: 600;
}
.artcl input::placeholder {
  color: rgba(226, 225, 225, 0.9);
  text-align: center;
  font-size:18px;
  font-weight: 400;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.artcl p , h4{
  font-weight: bold;
    font-size: 20px;
}
.artcl{
  border-radius: 0.5rem;
  background-color: #141f408a;
  text-align: center;
}
.artcl input{
  padding: 3px;
  background-color: #00000058;
  font-size: 18px;
  height: 4vh;
 border-color: rgb(0, 213, 255);
 box-shadow: 0 0.5rem 1rem rgba(10, 132, 245, 0.3);
}
.new-order {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: .8rem;
}
.new-order input {
  width: 5rem;
}
select , input{
  color: white;
}
#order{
  width: 12rem;
}
.new-order #name{
  width: 10rem;
}
.new-order #price{
  width: 4.5rem;
}
.new-order #ok , #no{
  background-color: #000000;
  border: 2px solid rgba(18, 17, 17, 0);
  border-radius: 4px;
  cursor: pointer;
}
.new-order #ok {
  padding-top: 2px;
  box-shadow: 0 1px 7px rgba(3, 254, 37, 0.559);
  background-color: rgb(32, 212, 32);
}
.new-order #no{
  background-color: rgb(235, 30, 30);
  box-shadow: 0 1px 7px rgba(255, 0, 0, 0.621);

}
.new-order #ok:hover , #no:hover{
  transform: translateY(-3px);
}
.new-order #ok:active , #no:active{
  transform: translateY(1px);
}
.add-new span{
  display: flex;
  gap: .4rem;
}
.btns{
  display: flex;
  gap: 1rem;
}
@media (max-width:375px)
{
  .add-new span{
    display: flex;
    gap: .3rem;
  }
  #btnminus{
    min-width: 2.7rem;
   }
   #btnminus{
    min-width: 2.7rem;
   }
  .artcl input{
   min-height: 5vh;
  }
  .add-new .add {
    min-height: 6vh;
  }
  .add-new input {
    min-height: 5.5vh;
  }
}@media only screen and (max-width: 400px) 
{
  .add-new .add {
    min-height: 6vh;
  }
  .add-new input {
    min-height: 5.5vh;
  }
  select{
    min-height: 5.7vh;
  }
  .artcl input{
    min-height: 5vh;
   }
   ul {
    max-height: 13rem;
   }
   #btnminus{
    min-width: 2.7rem;
   }
}
.head{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.head span{
  display: flex;
  gap: .4rem;
}
.head button{

  border: none;
  cursor: pointer;
}
.Confirm{
  margin-top: 2rem;
  font-family:  Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-shadow: none;
  background: #c79847;
  border-radius: 4px;
  font-weight: 400;
  font-size: 20px;
  padding-top: .2rem;
  color: #35231f;
}
.Confirm button{
width: 50%;
border: none;}
.Confirm img{
  padding-left: .3rem;
}
.btns{
  display: flex;
  flex-direction: row;
  gap: 0;
  margin: 0rem;
  padding: 0;
}
.btns :hover{
  box-shadow: 2px 10px 4px rgba(0,0,0,0.4);
}
.btns button{
  font-size: 18px;
  text-align: center;
  height: 3rem;
  background-color: #00000000;
  cursor: pointer;
}
#yes{
  color: #FF0F0F;
  border: 2px solid #FF0F0F;

}
#cancel{
  color: #24D600;
  border: 2px solid #24D600;
}
#delete{
  background-color: #f32f2f;
  color: white;
  border-bottom-right-radius: 4px;
}
#cncl{
  background-color: #39b121;
  color: white;
  border-bottom-left-radius: 4px;
}
#cancel:focus{
  transform: translate(1px);
}
.warn{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.warn img {
  mix-blend-mode: color-burn;
}
.reset{
  cursor: pointer;
  border-radius: 100%;
  border:2px solid #ffffff;
  background-color: #31303000;
  height: 2.5rem;
  padding-top:2.5px;
  width: 2.6rem;
  background-color: #00000000;  
}
.reset:hover , .reset:active{
  background-color:#0B1426 ;
}
.ad{
  display: flex;
  gap:2.3rem;
}
.btn{
  display: flex;
  gap: 1rem;
}
.ad{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}