:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.persons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1rem;
  overflow: auto;
  max-height: 35rem;
}
.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(10, 132, 245, 0.8);
}
main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
hr {
  width: 100%;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  /* background: url('./assets/313388-pretty-background-for-food-pretty.jpg');
  -webkit-background-clip: text;
  color: transparent; */
  margin: 0;
}
.persons h3 {
  text-transform: capitalize;
  overflow: auto;
}
.card {
  font-size: 1.05rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #262626bf;
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.14);
  cursor: pointer;
  margin-right: 0.3rem;
  max-height: 14rem;
}
.card footer {
  margin-top: auto;
}
.card ul {
  max-height: 70%;
  overflow: auto;
  font-weight: 600;
  font-size: 1.1rem;
}
.card * {
  margin: 0;
}
.header {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.empty-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.btn-add {
  font-size: 1rem;
  padding: 0.3rem;
  margin: 1rem auto;
}
.tax {
  width: fit-content;
  margin-left: 0.5rem;
  font-size: medium;
}
@media screen and (max-width: 30rem) {
  .card,
  .card:hover {
    box-shadow: none;
  }
  .persons {
    max-height: 31rem;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* {
  box-sizing: border-box;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.add-new {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 1rem;
 
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(10, 132, 245, 0.3);
  background-image: url("/src/assets/AddNew.jpg");
}
.form-group {
  display: grid;
  gap: 0.5rem;
}
.add-new .add {
  margin: 1rem auto;
  justify-content: center;
  font-size: 20px;
  color: #201f1f;
  background-color: rgba(0, 213, 255, 0.931);
  width: 100%;
  height: 4.5vh;
  border: 2px solid rgb(3, 195, 238);
  border-radius: 0.5rem;
  font-weight: 700;
  cursor: pointer;
}
.add-new button:hover {
  border-color: rgb(0, 213, 255);
  box-shadow: 0 0.5rem 1rem rgba(10, 132, 245, 0.3);
  background-color: rgba(0, 0, 0, 0.829);
  color: rgb(0, 213, 255);
}
.add-new input {
  border: 2px solid rgb(3, 195, 238);
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  background-color: rgba(0, 0, 0, 0.703);
  height: 4vh;
  font-size: 18px;
  font-weight: 500;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: #201f1f;
  border-radius: 3px;
}
.persons {
  /* overflow: hidden; */
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-content: space-evenly;
  background-image: url("./assets/background.jpg");
  margin: 0;
}
select {
  background-color: black;
  border: 2px solid rgb(3, 195, 238);

  border-radius: 0.5rem;
  padding-left: 0.5rem;
  background-color: rgba(0, 0, 0, 0.742);
  font-weight: 500;
  height: 4.2vh;
  font-size: 17px;
  cursor: pointer;
}
.add-new select:focus {
  border-color: rgb(0, 213, 255);
  box-shadow: 0 0.5rem 1rem rgba(10, 132, 245, 0.3);
}
input:hover,
select:hover {
  border-color: rgb(0, 213, 255);
  box-shadow: 0 0.5rem 1rem rgba(10, 132, 245, 0.3);
}
.add-new option {
  background-color: black;
}
.btn-add{
  border: 2px solid rgb(28, 37, 203);
  background-color: rgba(0, 213, 255, 0.865);
  border-color: rgb(0, 213, 255);
  font-size: 18px;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-weight:500;
  text-align: center;
  width: 21rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.artcl {
  text-align: center;
}
.btn-add:hover {
  transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn-add:active {
  transform: translateY(0px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.card:hover{
  background-color: #201f1fdd;
}
.tax {
  background-color: #3131317b;
  border: 2px solid cadetblue;
  border-radius: 3px;
  height: 3.5vh;
  width: 15rem;
  border-color: rgb(0, 213, 255);
}
@media (max-width: 50rem) {
  body {
    background-image: url("./assets/mob4.jpg");
  }
  .card,
  .card:hover {
    box-shadow: none;
  }
}
.order-edit{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #0808083c;
  
}
.order-edit button{
  display: flex;
  justify-content: center;
  margin: .2rem;
  width: 2.7rem;
  font-weight: 200;
  font-size: 1.7rem;
  border: 2px solid;
  border-color: rgb(0, 213, 255);
  box-shadow: 0 0.5rem 1rem rgba(10, 132, 245, 0.2);
  background-color: rgba(0, 0, 0, 0.959);
  color: rgb(0, 213, 255);
  border-radius: 3px;
}
.order-edit button:focus{
  background-color:rgb(0, 213, 255) ;
  color: black;
}
ul{
  overflow: auto;
  max-height: 10rem;
  padding: .2rem;
}
fieldset{
  border-color: rgb(0, 213, 255);
  border-radius: 3px;
  max-height: 20rem;
}
.btn-add:focus{
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}